# macOS
.DS_Store
.localized

# Obsidian cache / UI state
.obsidian/workspace*
.obsidian/cache
.obsidian/graph.json
.obsidian/backlink.json

# Plugin runtime data (no portable)
.obsidian/plugins/**/data.json

# OS / temp
Thumbs.db
